.row {
  margin: 5px;
}
#jumb {
  margin: 0px 0px 0px;
  padding: 5px 0px 5px;
}
#app_name {
  font-family: "Noto Serif", serif;
}
#picks {
  font-family: "Slabo 27px", serif;
}
#results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#scroll-text {
  font-family: "Noto Serif", serif;
}
#after-jumb {
  padding-top: 15px;
}
.btn-dark {
  padding: 5px;
  margin: 30px;
}

#container {
  padding: 10px;
}
#card {
  text-align: center;
  background-color: #f5f5f5;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
