.row {
  margin: 5px;
}
#jumb {
  margin: 0px 0px 0px;
  padding: 5px 0px 5px;
}
.card-text {
  font-family: "PT Serif", serif;
}
#app_name {
  font-family: "Noto Serif", serif;
}
#label {
  font-family: "Noto Serif", serif;
}
#picks {
  font-family: "Slabo 27px", serif;
}
#scroll-text {
  margin-left: 10px;
  margin-right: 10px;
}
#results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#scroll-text {
  font-family: "Noto Serif", serif;
}
#after-jumb {
  padding-top: 40px;
}
.btn-dark {
  padding: 5px;
  margin: 30px;
}
#add_button {
  margin-top: 10px;
}

#card {
  text-align: center;
  background-color: #f5f5f5;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
#second-form {
  padding-top: 30%;
}
.form-control {
  margin-bottom: 5px;
}
#left-form {
  padding-top: 1px;
}
