#results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#jumb {
  background-image: url("logomedium.png");
  background-repeat: no-repeat;
}

.btn-dark {
  padding: 5px;
  margin: 30px;
}

#container {
  padding: 10px;
}
#card {
  text-align: center;
}
